:root {

}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}

.page {

  display: grid;
  gap: 1rem;
}


}

h1 {
  margin: 0.8rem 0 0;
n
}
